<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">MR Shop</a>
            </li>
            <li class="main-header__item">
                <a href="/products">Products</a>
            </li>
            <li class="main-header__item">
                <a  href="/cart">Cart</a>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">MR Shop</a>
                </li>
                <li class="mobile-nav__item">
                    <a  href="/products">Products</a>
                </li>
            </ul>
</nav>